


.hero__title {
    text-shadow: 2px 3px 6px rgba(60, 60, 60, 0.2);
}

.hero__text {
    line-height: 22px;
}

.hero__footer {
    bottom: 0;
    background: rgba(41, 159, 244, 0.7);
    opacity: 0.9;
    backdrop-filter: blur(12px);
    display:flex;
    justify-content: center;
}

.hero__footer-item {
    max-width: 450px;
    display:flex;
    justify-content: flex-center;
    padding:0.5rem
}

.hero__image {
    -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.4));
    display:flex;
    justify-content: center;
}



.number_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #38ACFF;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    
}

.number_circle > span {
    color: white;
}



.btn-login {
    background: #FFFDFD;
    border: 1px solid #CCCCCC;
    /* box-shadow */

    box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
    border-radius: 15px;
    
}

.feature-item {
    background: #FCFBFB;
    box-shadow: 2px 4px 10px rgba(173, 172, 172, 0.2);
    border-radius: 3px;
    
}